* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(white, yellow, blueviolet);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    background-color: #23084c;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.message {
    margin-bottom: 30px;
    color: #333;
}

h1 {
    font-family: 'Courier New', monospace;
    font-size: 2rem;
    color: peachpuff;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    margin: 5px 0;
    color: #c6c64a;
}

.cake-container {
    margin-top: 20px;
}

.cake-container img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}